@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';
/* skeleton UI教程：https://www.skeleton.dev/docs/svelte/guides/mode */
/* iconify图标教程：https://icon-sets.iconify.design/solar/ */
/* 如果上面遇到@import引入错误，请手动运行‘ npx sv add tailwindcss ’ 来安装tailwindcss */

body,
html {
	font-family: "Noto Sans Light", sans-serif;
	letter-spacing: 1px;
}

/*亮暗主题切换*/
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.app {
	font-size: 14px;
    clear: both;
    min-width: 520px;
}
@media screen and (min-width: 280px) and (max-width: 520px) {
/*    */
}

.can-drag {
	--wails-draggable: drag;
}

.no-drag {
	--wails-draggable: no-drag !important;
}

.hide {
	display: none !important;
}

.center {
	text-align: center;
}

.break {
	word-break: break-all;
	word-wrap: break-word;
}

.break-ellipsis {
	text-overflow: ellipsis;
}

::selection {
	color: #FCFCFC;
	background: orange;
	outline: thick solid #FF0000;
}

::-moz-selection {
	color: #FCFCFC;
	background: #CD5C5C;
}

.scroll-y-style {
	overflow-y: auto;
	overflow-x: hidden;
}

.scroll-y-style::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(115,115,115,0);
}

.scroll-y-style::-webkit-scrollbar-thumb {
	border-radius: 10px;
	height: 44px;
	background-color: rgba(115,115,115,0.5);
	cursor: pointer;
}

.font-blue{
    color: var(--color-blue-500);
}
.font-orange{
    color: var(--color-orange-400);
}
.font-red{
    color: var(--color-red-600);
}
.font-green{
    color: var(--color-green-600);
}

.click-none {
	cursor: not-allowed;
	user-select: none;
}

.click {
	cursor: pointer;
	user-select: none;
}

.click:active {
	opacity: 0.6;
}

.click:hover {
	opacity: 0.8;
}

.not-click{
    cursor: not-allowed;
    opacity: 0.8;
}

.hover:hover {
	opacity: 0.8;
	cursor: pointer;
}

.select-none {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-all {
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.select-text {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.font-mini {
	font-size: 12px;
}

.font-text {
	font-size: 14px;
}

.font-title {
	font-size: 16px;
}

.font-class {
	font-size: 20px;
}

.section-main {
	position: fixed;
	z-index: 0;
	width: calc(100% - 220px);
	height: calc(100% - 50px);
	top: 50px;
	right: 0;
	padding-bottom: 90px;
}



.border-radius {
    border-radius: 5px;
}


.ul-group{
    clear: both;
    margin-bottom: 20px;
}
.li-group{
    clear: both;
    overflow: hidden;
}
.li-group-title{
    width: 200px;
    padding: 10px 10px;
    float: left;
    opacity: 0.8;
    line-height: 24px;
    overflow: hidden;
    max-height: 82px;
}
.li-group-content{
    width: calc(100% - 200px);
    padding: 10px 10px;
    float: left;
}

.svg-icon{
    float: left;
    margin-right: 5px;
}

.a-btn{
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-base{
    border-radius: 40px;
    padding: 5px 20px;
}
.box-shadow{
    box-shadow: 0 0 40px rgba(100, 100, 100, 0.5);
}