#
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# 目录
.task/
.idea/
.vscode/
.venv/
.svelte-kit/
node_modules/
bin/
bindings/
dist/

# 文件
.env
.zip
.rar
.pdf
.DS_Store
Thumbs.db
